<h1>Temerature Convertor</h1>
<p id="notice"><%= notice %></p>

<%=form_tag("/temp/docalc", :method => "get") do %>
<%= radio_button_tag(:type, "celsius") %>
<%= label_tag(:celsius, "celsius") %>
<%= radio_button_tag(:type, "fahrenhelt") %>
<%= label_tag(:fahrenhelt, "fahrenhelt") %>
<br> </br>
<%= label_tag(:temp, "input temperature") %>
<%= text_field_tag(:temp) %>
<%= submit_tag("Search") %>
<% end %>



