<h1>Formtest#show</h1>
<p>Find me in app/views/formtest/show.html.erb</p>
<%= form_tag do %>
  some stuff
<% end %>


<%= form_tag("formtest/show", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>